.background_image1{
  background-image: url("image/background_1.png");
  position: static;
  width: auto;
  height: 1080px;
  left: 0px;
  background-repeat: no-repeat;
  display: block;
  top: 0px;
}

.header{
  height: 8%;
  width: 100%;

  background: rgba(89, 175, 140, 0.2);
  backdrop-filter: blur(5px);
  background-image: url("image/head.png");

  border: solid 0px black;
  float: 100%;
  position: fixed;
  display: block;
  display: inline-block;
  background-size: 100% 100%;
  margin: 0px 0px 0px;
  padding: 0px 0px 0px;
  top: 0;
  transform: translate(0);
}

body{
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: #0F0D18;
  margin: 0px ;
  padding: 0px ;

}

.header table{
  height: 100%;
  width: 100%;
}

.header img{
  width: 45px;
  height: auto;
}

.header p{
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;

  color: #ECD6BE;
  border: 0px solid #2E5945;
  margin: 0px ;
  padding: 0px ;
  top: 0;
}

.sotUaText{
  width: 556px;
  height: 162px;
  padding-top: 10%;
  padding-right: 3%;
  float: right;
  font-family: 'brush-tipTexe TRIAL';
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  line-height: 88.5%;
  text-align: center;
  color: #F9F9F9;

}
