.header{
  height: 6%;
  width: 100%;

  background: rgba(89, 175, 140, 0.2);
  backdrop-filter: blur(5px);
  background-image: url("image/head.png");

  border: solid 0px black;
  float: 100%;
  position: fixed;
  display: block;
  display: inline-block;
  background-size: 100% 100%;
  margin: 0px 0px 0px;
  padding: 0px 0px 0px;
  top: 0;
  transform: translate(0);

}

body{
  height: 100%;
  width: 100%;
  background-color: #0F0D18;
  margin: 0px ;
  padding: 0px ;
   top: 0;
}
.header table{
  height: 100%;
  width: 100%;

}
.header img{
width: 41px;
height: 41px;


}

.header p{
font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 28px;

color: #ECD6BE;
border: 0px solid #2E5945;
margin: 0px ;
padding: 0px ;
top: 0;
}
